@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <!-- Aquí puedes añadir el contenido principal del carrito de compras -->
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Pedido</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cbolocalidad" class="form-label">Localidad</label>
                                            <select class="form-select form-select-sm" id="cbolocalidad"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtnombrecontacto" class="form-label">Nombre Contacto</label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtdireccion" class="form-label">Dirección</label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off">
                                        </div>
                                        <div class="mb-2">
                                            <label for="txttelefono" class="form-label">Teléfono</label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off">
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Finalizar Pedido
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
