
@{
    ViewBag.Title = "Barrio";
}

<ol class="breadcrumb mb-4 mt-4">
    <h5>Barrios</h5>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-map-marker-alt"></i>Lista de Barrios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo Barrio</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Codigo Postal</th>
                    <th>Nombre del Barrio</th>
                    <th>Costo de Envio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Barrio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtcodigopostal" class="form-label">Codigo Postal</label>
                        <input type="number" class="form-control" id="txtcodigopostal" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtbarrio" class="form-label">Nombre del Barrio</label>
                        <input type="text" class="form-control" id="txtbarrio" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtenvio" class="form-label">Costo de Envio</label>
                        <input type="number" class="form-control" id="txtenvio" autocomplete="off">
                    </div>

                </div>

                <!--Mensaje de Alerta-->
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarBarrio()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarBarrio", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Codigo_Postal" },
                { "data": "Barrio" },
                { "data": "Costo_Envio" },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.0.8/i18n/es-ES.json"
            }
        });

        function abrirModal(json) {

            $("#txtcodigopostal").val(0);
            $("#txtbarrio").val("");
            $("#txtenvio").val(0);
            $("#mensajeError").hide();


            if (json != null) {

                $("#txtcodigopostal").val(json.Codigo_Postal);
                $("#txtbarrio").val(json.Barrio);
                $("#txtenvio").val(json.Costo_Envio);
            }
            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var barrioseleccionado = $(this).closest("tr");

            var data = tabladata.row(barrioseleccionado).data();


            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar el barrio?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                jQuery.ajax({
                    url: '@Url.Action("EliminarBarrio", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.Codigo_Postal }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {

                            tabladata.row(barrioseleccionado).remove().draw();

                        }
                        else {
                            swal("No se pudo eliminar", data.mensaje, "error");

                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

            });
        })

        function GuardarBarrio() {
            var Barrio = {
                Codigo_Postal: $("#txtcodigopostal").val(),
                Barrio: $("#txtbarrio").val(),
                Costo_Envio: $("#txtenvio").val(),
            }

            jQuery.ajax({
                url: '@Url.Action("RegistrarBarrio", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Barrio }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    // Barrio NUEVO
                    if (Barrio.Codigo_Postal == 0) {
                        if (data.resultado != 0) {
                            Barrio.Codigo_Postal = data.resultado;
                            tabladata.row.add(Barrio).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {

                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                    // Barrio EDITAR
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Barrio).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })

                }
            });
        }
    </script>
}
