
@{
    ViewBag.Title = "Cliente";
}

<div class="modal-body modal-xl">
    <!-- Formulario para crear Cliente -->
    <div id="formCliente" class="mt-3">
        <h5>Crear Cliente</h5>
        <div class="row g-1">
            <div class="col-sm-6">
                <div class="mb-2">
                    <label for="txtNombreCliente" class="form-label">Nombre del Cliente</label>
                    <input type="text" class="form-control" id="txtNombreCliente" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label for="txtApellidoCliente" class="form-label">Apellido del Cliente</label>
                    <input type="text" class="form-control" id="txtApellidoCliente" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-2">
                    <label for="txtCelular" class="form-label">Celular del Cliente</label>
                    <input type="email" class="form-control" id="txtCelular" autocomplete="off">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Botón para enviar ambos formularios -->
<div class="row mt-4">
    <div class="col-12">
        <button type="button" class="btn btn-primary" onclick="CrearCliente()">Guardar Cliente</button>
    </div>
</div>

@section scripts{
    <script>
        function CrearCliente() {
            var cliente = {
                Id_Cliente: 0, // Si es nuevo, pon 0, si es editar usa el ID existente
                Nombre: $("#txtNombreCliente").val(),
                Apellido: $("#txtApellidoCliente").val(),
                Celular: $("#txtCelular").val()
            };

            $.ajax({
                url: '@Url.Action("CrearCliente", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto: cliente }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");

                    if (data.resultado) {
                        cliente.Id_Cliente = data.resultado;
                    } else {
                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error al guardar cliente");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                }
            });
        }
    </script>
}