@{
    ViewBag.Title = "Administrador";
}
<main>
    <h1 class="mt-4">Reporte de Ventas</h1>
    <ol class="breadcrumb mb-4">
    </ol>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">

                    <div class="row">
                        <div class="col-9">
                            <h6>Cantidad de Clientes</h6>
                            <h6 id="totalcliente">0</h6>
                        </div>
                        <div class="col-3">
                            <i class="fas fa-user fa-2x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">

                    <div class="row">
                        <div class="col-9">
                            <h6>Cantidad de Ventas</h6>
                            <h6 id="totalventa">0</h6>
                        </div>
                        <div class="col-3">
                            <i class="fas fa-shopping-bag fa-2x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body">

                    <div class="row">
                        <div class="col-9">
                            <h6>Cantidad de Productos</h6>
                            <h6 id="totalproducto">0</h6>
                        </div>
                        <div class="col-3">
                            <i class="fas fa-boxes fa-2x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-tags me-1"></i>
            Historial de Ventas
        </div>
        <div class="card-body">
            <div class="row align-items-lg-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="text" id="txtfechainicio" name="FechaInicio" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Finalización:</label>
                        <input class="form-control" type="text" id="txtfechafin" name="FechaFin" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Nro. de Transacción:</label>
                        <input class="form-control" type="text" id="txtidventa" name="Id_Venta" />
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="mb-2 d-grid">
                        <button class="btn btn-primary" id="btnbuscar" type="button"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="mb-2 d-grid">
                        <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-12">
                    <table id="tabla" class="display cell-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha Venta</th>
                                <th>Clientes</th>
                                <th>Barrio</th>
                                <th>Productos</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
            // Interceptar el Enter en los campos de fecha para activar la búsqueda
            $('#txtfechainicio, #txtfechafin, #txtidventa').on('keypress', function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $('#btnbuscar').click();
                }
            });

            $("#txtfechainicio").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());
            $("#txtfechafin").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date());

            // Obtener datos iniciales para el dashboard
            jQuery.ajax({
                url: '@Url.Action("VistaDashBoard", "Home")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var objeto = data.resultado;

                    $("#totalcliente").text(objeto.TotalClientes);
                    $("#totalventa").text(objeto.TotalVentas);
                    $("#totalproducto").text(objeto.TotalProductos);
                }
            });

            // Inicializar DataTable
            var Url = '@Url.Action("ListaReporte", "Home")' +
                "?FechaInicio=" + $("#txtfechainicio").val() +
                "&FechaFin=" + $("#txtfechafin").val() +
                "&Id_Venta=" + $("#txtidventa").val();

            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: Url,
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "FechaVenta" },
                    { "data": "Clientes" },
                    { "data": "Barrio" },
                    { "data": "Productos" },
                    {
                        "data": "PrecioUnitario",
                        "render": function (data, type, row) {
                            return '$' + parseFloat(data).toFixed(2);
                        }
                    },
                    { "data": "Cantidad" },
                    {
                        "data": "Total_Pago",
                        "render": function (data, type, row) {
                            return '$' + parseFloat(data).toFixed(2);
                        }
                    }
                ],
                "columnDefs": [
                    { "width": "10%", "targets": 0 },   // FechaVenta
                    { "width": "10%", "targets": 1 },   // Nro. de Transacción
                    { "width": "15%", "targets": 2 },   // Clientes
                    { "width": "15%", "targets": 3 },   // Barrio
                    { "width": "18%", "targets": 4 },   // Productos
                    { "width": "10%", "targets": 5 },   // Precio
                    { "width": "8%", "targets": 6 }    // Cantidad
                ],
                "rowGroup": {
                    // Agrupa las filas por el valor en la columna Id_Venta
                    dataSrc: function (data) {
                        return `
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <span>Nro de Transacción: ${data.Id_Venta}</span>
                                <button class="btn btn-danger btn-sm btn-eliminar" data-id="${data.Id_Venta}">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </button>
                            </div>
                        `;
                    }
                },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/2.0.8/i18n/es-ES.json"
                }
            });

            $('#tabla tbody').on('click', '.btn-eliminar', function () {
                var idVenta = $(this).data('id');

                swal({
                    title: "¿Está Seguro?",
                    text: "¿Desea eliminar esta venta?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Sí",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        // Si el usuario confirma, proceder con la eliminación
                        $.ajax({
                            url: '@Url.Action("EliminarVenta", "Home")',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ id: idVenta }),
                            success: function (response) {
                                if (response.resultado) {
                                    swal("¡Eliminado!", "La venta fue eliminada correctamente.", "success");
                                    tabladata.ajax.reload();
                                } else {
                                    swal("Error", "No se pudo eliminar la venta: " + response.mensaje, "error");
                                }
                            },
                            error: function () {
                                swal("Error", "Ocurrió un error al intentar eliminar la venta.", "error");
                            }
                        });
                    }
                });
            });



            // Botón buscar
            $("#btnbuscar").on("click", function () {
                var nueva_url = '@Url.Action("ListaReporte", "Home")' +
                    "?FechaInicio=" + $("#txtfechainicio").val() +
                    "&FechaFin=" + $("#txtfechafin").val() +
                    "&Id_Venta=" + $("#txtidventa").val();

                tabladata.ajax.url(nueva_url).load();
            });
        });
    </script>
}
