body {
    background-image: url('img_login/Fondo Bondioleta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.logo {
    float: left;
    margin-right: 20px;
    margin-left: 30px;
}

    .logo img {
        width: 135px;
        height: 85px;
    }

.card-login {
    margin-top: 10rem; 
}